<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842813503750-26gg8ssm19k2gm8m8n8bslv2d2su3ohh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842813503750-26gg8ssm19k2gm8m8n8bslv2d2su3ohh</string>
	<key>API_KEY</key>
	<string>AIzaSyCga9b183LBsBkrIeb568EuXVA08ssAOpw</string>
	<key>GCM_SENDER_ID</key>
	<string>842813503750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kevin.Digicode</string>
	<key>PROJECT_ID</key>
	<string>digicode-e8ef8</string>
	<key>STORAGE_BUCKET</key>
	<string>digicode-e8ef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:842813503750:ios:55b924aefc6a68ca6e0687</string>
</dict>
</plist>
